<p>Product Name: <%= @product.product_name%></p>
<p>Product Price: <%= @product.product_price%></p>
<p>Selling price: <%= @product.selling_price%></p>
<p>Product Stock: <%= @product.product_stock%></p>